body{
  background-color: #262626;
  min-height: 100vh;
}
.container{
  padding: 20px;
  margin-bottom: 40px;
  margin: auto;
  text-align: center;
  align-items: center;
}
.container-cards{
  margin: 15px;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}
.card{
  display: inline-block;
  margin: 15px;
}
.integrantes{

  width: 400px;

}
